*, * * {
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    height: 100%;
}

body {
    background-color: #373737;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    padding-left: 100px;
    width: 800px;
}

.preview-slides {
    background-color: #ffffff;
    border: 1px solid #aaa;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 110px;
}

.preview-slide {
    background-color: #efefef;
    border: 1px solid #dfdfdf;
    height: 40px;
    margin: 10px;
    padding: 5px 4px;
    width: 81px;
}
.preview-slide.active {
    background-color: #2e59ff;
    color: #ffffff;
}
.slide-pane {
    background-color: #ffffff;
    border: 1px solid #aaa;
    height: 480px;
    margin: 0 auto;
    padding: 10px;
    width: 780px;
}
.slide {
    height: 100%;
    width: 100%;
}

.controls {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    width: 200px;
}

.controls .control {
    background-color: #777777;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.controls .control:hover {
    background-color: #2e59ff;
}